{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<h1>Les articles</h1>
<section class="content">
        <ul>
            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages.Reverse }}
            <a href="{{.Permalink}}">
                <li class="card">
                    <div class="thumbnail" style="background:
                        {{ if .Params.thumbnail }}
                            url('{{.Params.thumbnail}}')
                        {{ else }}
                            linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%)
                        {{ end }};" 
                        >
                    </div>
                    <article>
                        <h3>{{.Title}}</h3>
                        <p>{{ .Summary | truncate 50 }}</p>
                    </article>
                </li>
            </a>
            {{ end }}
        </ul>

</section>
{{ end }}